
.category .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.category .box-container .box {
    width: 25rem;
    margin: 2rem;
    text-align: center;
}

.category .box-container .box img {
    width: 100%;
}

.category .box-container .box h3 {
    color: #333;
    font-size: 2rem;
    padding: 1rem 0;
}
