
header {
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    position: relative;
}

header .logo {
    font-size: 2.5rem;
    color: #333;
}

header .logo i {
    transform: rotate(-1deg);
    color: black;
}

header .navbar a {
    color: #333;
    font-size: 1.7rem;
    padding: 0 1rem;
}

header .icons i,
header .icons a {
    font-size: 2.5rem;
    color: #333;
    padding-left: 1.5rem;
    cursor: pointer;
}

header .icons i:hover,
header .icons a:hover {
    color: var(--yellow);
}

#search-box {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--yellow);
    padding: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    transform-origin: top;
    transform: scale(0);
    opacity: 0;
}

#search-box.active {
    transform: scale(1);
    opacity: 1;
}

#search-box #search {
    width: 100%;
    padding: 1rem;
    text-transform: none;
    font-size: 2rem;
}

#search-box #search::placeholder {
    text-transform: capitalize;
}

#search-box label {
    font-size: 3rem;
    color: #333;
    padding-left: 2rem;
    cursor: pointer;
}

